# Секреты
.env

# Telegram
*.session
*.session-journal
*.session-*
*.session.*.bak
telegram_login_status.json

# Локальные настройки приложения
schedule_settings.json
proxy_settings.json
proxy_settings.tmp

# База данных
*.db
*.sqlite
*.sqlite3

# Окружение
.venv/
venv/

# Python
__pycache__/
*.pyc

# PyCharm
.idea/

# Логи
*.log

# Результаты сборки
build/
dist/
